<h2>Monitor frame rate</h2>
<rws-prism language="javascript" ngPreserveWhitespaces
    ><!-- htmlmin:ignore --><!-- prettier-ignore -->function trackFrames (lastFrame = null) &lbrace;
    requestAnimationFrame((now) =&gt; &lbrace;
        if (lastFrame !== null) &lbrace;
            const frameRate = 1000 / (now - lastFrame);
            // send the frameRate to your server
        &rbrace;
        trackFrames(now);
    &rbrace;);
&rbrace;<!-- htmlmin:ignore --></rws-prism
>
<p>Don't keep this running all the time.</p>
