<div class="polaroid">
    <div class="cloth">
        <span>man in blue and white polo shirt</span>
    </div>
    <!-- https://unsplash.com/photos/8GDJnunZ3uA -->
    <span
        >Photo by
        <a href="https://unsplash.com/@munbaik_cycling?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            >Munbaik Cycling Clothing</a
        >
        on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></span
    >
</div>
