<h2>Monitor memory usage</h2>
<rws-prism language="http" ngPreserveWhitespaces
    ><!-- htmlmin:ignore --><!-- prettier-ignore -->'Cross-Origin-Embedder-Policy': 'require-corp'
'Cross-Origin-Opener-Policy': 'same-origin'<!-- htmlmin:ignore --></rws-prism
>
<rws-prism language="javascript" ngPreserveWhitespaces
    ><!-- htmlmin:ignore --><!-- prettier-ignore -->performance
    .measureUserAgentSpecificMemory()
    .then((&lbrace; bytes &rbrace;) =&gt; &lbrace;
        // send the bytes to your server
    &rbrace;);<!-- htmlmin:ignore --></rws-prism
>
<p>only works in Chromium browsers</p>
