<h2>Monitor memory usage</h2>
<rws-prism language="http" ngPreserveWhitespaces><!-- htmlmin:ignore -->'Cross-Origin-Embedder-Policy': 'require-corp'
'Cross-Origin-Opener-Policy': 'same-origin'<!-- htmlmin:ignore --></rws-prism>
<rws-prism language="javascript" ngPreserveWhitespaces><!-- htmlmin:ignore -->performance
    .measureUserAgentSpecificMemory()
    .then(({{ '{' }} bytes }) =&gt; {{ '{' }}
        // send the bytes to your server
    });<!-- htmlmin:ignore --></rws-prism>
<p>only works in Chromium browsers</p>
