html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #327a10;
    color: #fff;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 8vw;
    height: 75vw;
    margin: 0;
    padding: 0;
    width: 100%;
}

body h1:first-child,
body h2 {
    margin-top: 0;
}

@media (min-aspect-ratio: 4/3) {
    body {
        font-size: 10.666vh;
        height: 100%;
        margin: 0 auto;
        width: 133vh;
    }
}

a {
    color: inherit;
}

div,
h3,
li,
p {
    font-size: 50%;
}

h1 {
    font-size: 160%;
}

h2 {
    font-size: 80%;
    letter-spacing: -0.02em;
}

ul {
    margin: 0.5em 0;
    padding: 0 0 0 0.5em;
}

li {
    margin: 0.5em 0;
}

.center {
    text-align: center;
}

.polaroid {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: block;
    margin: 0 auto;
    padding: 5% 5% 15%;
    width: 65%;
}

.polaroid:not(:last-of-type) {
    padding-bottom: 63.75%;
}

.polaroid:not(:first-of-type) {
    margin: -68.75% auto 0;
}

.polaroid:first-child {
    transform: rotate(4deg);
}

.polaroid:nth-child(2) {
    transform: rotate(-3deg);
}

.polaroid:nth-child(3) {
    transform: rotate(1.5deg);
}

.polaroid:nth-child(4) {
    transform: rotate(-1.5deg);
}

.polaroid div {
    display: block;
    padding: 0 0 75%;
    width: 100%;
}

.polaroid div > span {
    display: block;
    height: 0;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    width: 0;
}

.polaroid div.cloth {
    background-image: url('../assets/cloth.jpg');
    background-size: cover;
}

.polaroid div.run {
    background-image: url('../assets/run.jpg');
    background-size: cover;
}

.polaroid div.shoe {
    background-image: url('../assets/shoe.jpg');
    background-size: cover;
}

.polaroid div.timer {
    background-image: url('../assets/timer.jpg');
    background-size: cover;
}

.polaroid > span {
    color: #000;
    display: block;
    font-size: 50%;
    height: 0;
    text-align: center;
}
