<h2>Track rejections</h2>
<rws-prism language="javascript" ngPreserveWhitespaces
    ><!-- htmlmin:ignore --><!-- prettier-ignore -->const unhandledRejections = new WeakMap();
window.addEventListener('unhandledrejection', (event) =&gt; &lbrace;
    unhandledRejections.set(
        event.promise,
        setTimeout(() =&gt; &lbrace; /* report event.reason */ &rbrace;, 100)
    );
&rbrace;);
window.addEventListener('rejectionhandled', (event) =&gt; &lbrace;
    clearTimeout(unhandledRejections.get(event.promise));
&rbrace;);<!-- htmlmin:ignore --></rws-prism
>
